/*
HEX codes
Obsidian Night: #182534 - #09172e
Imperial Blue: #1D45BC
Neon Azure: #01C2F3
Solar Gold: #FECF0C
Cloud White: #F9FAFB
*/

body, html {
  height: 100%;
  margin: 0;
  background-color: #09172e;
  color: #ffffff;
  font-family: 'Josefin Sans';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  padding: 15px;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

.header img {
  display: none;
}

.header::before {
  content: "CX Perspectives";
  color: #FECF0C;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  gap: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.user {
  align-self: flex-end;
  text-align: right;
  flex-direction: row-reverse;
  background-color: #182534; 
  border-radius: 10px;
  padding: 10px;
  font-family: 'Josefin Sans', light;
  font-size: 16px;
  color: #F9FAFB;
}

.message.model {
  align-self: flex-start;
  text-align: left;
  flex-direction: row;
  background-color: #182534;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Josefin Sans', light;
  font-size: 16px;
  color: #F9FAFB;
}

.message .msg-header {
  font-weight: bold;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1D45BC;
  color: #FFFFFF;
  flex-shrink: 0;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
  gap: 5px;
}

.footer input {
  flex: 1;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.footer button {
  background-color: #1D45BC;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.footer button#attachment {
  background-color: #1D45BC;
}

.footer button:hover {
  background-color: #1D45BC;
}

.table {
  border-collapse: collapse;
  margin: 10px 0;
  table-layout: fixed; /* Prevent auto-expanding columns */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: #01C2F3;
}

.button-container {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

button {
  background-color: #1D45BC;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #163699;
}